.profile__profession {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding: 0;
    max-width: 282px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    align-self: center;
}


@media screen and (min-width:768px) {
  .profile__profession {
      max-width: 294px;
      align-self: flex-start;
  }
}


@media screen and (min-width:1024px) {
  .profile__profession {
    font-size: 18px;
    line-height: 22px;
  }
}
    