.profile__addButton {
  background: no-repeat url('../../../images/Edit__Button.svg');
  background-size: 16px 16px;
  background-position: center;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  height: 50px;
  width: 282px;
  padding: 0;
  margin: 0;
  font-size: 0;
}

@media screen and (min-width:768px) {
  .profile__addButton {
    width: 150px;
    background-size: 22px 22px;
  }
}